<div class="card">
  <div [hidden]="loggedIn" class="header">
    <h1 class="title">Please Login or Register</h1>
    <h1 class="errormessage">{{userName}}</h1>
  </div>
  <div [hidden]="!loggedIn" class="header">
    <h1 class="title">Welcome {{userName}}</h1>
  </div>
  <div class="content">
    <form #f="ngForm" (ngSubmit)="login()">

      <div class="form-group">
        <label for="username">Username:</label>
        <input [(ngModel)]="user.username" id="username" name="username" class="form-control">
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input [(ngModel)]="user.password" id="password" name="password" class="form-control">
      </div>

      <button [hidden]="loggedIn" (click)="login()" class="btn btn-primary">Login</button>
    </form>
    <button [hidden]="!loggedIn" (click)="logout()" class="btn btn-default">Logout</button>
    <button [hidden]="loggedIn" (click)="register()" class="btn btn-secondary">Register</button>


    <!--
    <tabbed-pane [activeId]="0">
        <tab title="Booked" [id]="0">
            This page could display all booked passengers ...
        </tab>
        <tab title="Checked in" [id]="1">
            This page could display all checked in passengers ...
        </tab>

        <tab title="Boarded" [id]="2">
            This page could display all boarded passengers ...
        </tab>
    </tabbed-pane>
    -->
  </div>

</div>


